services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    image: transcription-app-backend
    container_name: backend
    ports:
      - "8000:8000"
    env_file:
      - ./backend/.env

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    image: transcription-app-frontend
    container_name: frontend
    ports:
      - "3000:3000"
    env_file:
      - ./frontend/.env.local
    
